<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-3">
           <div class="card border-dark">
                <div class="card-header bg-dark text-white d-flex justify-content-between">
                    <h4><span><i class="bi bi-table me-2"></i></span> Danh sách bài viết</h4>

                    <a class="btn btn-success" href="#" role="button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Thêm
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="data-post-table table table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên Bài Viết</th>
                                    <th scope="col">Chuyên mục</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Welcome To The Best Model Winner Contest At Look of the year</td>
                                    <td>Kinh doanh</td>
                                    <td>Chưa duyệt</td>
                                    <td>
                                        <a name="" id="" class="btn btn-primary btn-sm" href="#" role="button"
                                            title="Edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a name="" id="" class="btn btn-danger btn-sm" href="#" role="button"
                                            title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td><a name="" id="" class="btn btn-success" href="#" role="button">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        Duyệt
                                    </a></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Welcome To The Best Model Winner Contest At Look of the year</td>
                                    <td>Chính trị</td>
                                    <td>Đã duyệt</td>
                                    <td>
                                        <a name="" id="" class="btn btn-primary btn-sm" href="#" role="button"
                                            title="Edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a name="" id="" class="btn btn-danger btn-sm" href="#" role="button"
                                            title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>