<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-3">
            {{!-- Phóng viên --}}
            <div class="card border-info mb-5">
                <div class="card-header bg-info text-white d-flex justify-content-between">
                    <h4><span><i class="bi bi-table me-2"></i></span> Danh sách phóng viên</h4>

                    <a class="btn btn-success" href="#" role="button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Thêm
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="data-user-table table table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Loại tài khoản</th>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Trần Văn A</td>
                                    <td>a@gmail.com</td>
                                    <td>Premium</td>
                                    <td>
                                        <a name="" id="" class="btn btn-primary btn-sm" href="#" role="button"
                                            title="Edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a name="" id="" class="btn btn-danger btn-sm" href="#" role="button"
                                            title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Nguyễn Văn B</td>
                                    <td>b@gmail.com</td>
                                    <td>Thường</td>
                                    <td>
                                        <a name="" id="" class="btn btn-primary btn-sm" href="#" role="button"
                                            title="Edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a name="" id="" class="btn btn-danger btn-sm" href="#" role="button"
                                            title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            {{!-- /Phóng viên --}}

            {{!-- Biên tập viên --}}
            <div class="card border-dark my-5">
                <div class="card-header bg-dark text-white d-flex justify-content-between">
                    <h4><span><i class="bi bi-table me-2"></i></span> Danh sách biên tập viên</h4>

                    <a class="btn btn-success" href="#" role="button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Thêm
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="data-user-table table table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Loại tài khoản</th>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Trần Văn A</td>
                                    <td>a@gmail.com</td>
                                    <td>Premium</td>
                                    <td>
                                        <a name="" id="" class="btn btn-primary btn-sm" href="#" role="button"
                                            title="Edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a name="" id="" class="btn btn-danger btn-sm" href="#" role="button"
                                            title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Nguyễn Văn B</td>
                                    <td>b@gmail.com</td>
                                    <td>Thường</td>
                                    <td>
                                        <a name="" id="" class="btn btn-primary btn-sm" href="#" role="button"
                                            title="Edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a name="" id="" class="btn btn-danger btn-sm" href="#" role="button"
                                            title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            {{!-- /Biên tập viên --}}

            {{!-- Độc giả --}}
            <div class="card border-warning my-5">
                <div class="card-header bg-warning text-white d-flex justify-content-between">
                    <h4><span><i class="bi bi-table me-2"></i></span> Danh sách độc giả</h4>

                    <a class="btn btn-success" href="#" role="button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Thêm
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="data-user-table table table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Loại tài khoản</th>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Trần Văn A</td>
                                    <td>a@gmail.com</td>
                                    <td>Premium</td>
                                    <td>
                                        <a name="" id="" class="btn btn-primary btn-sm" href="#" role="button"
                                            title="Edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a name="" id="" class="btn btn-danger btn-sm" href="#" role="button"
                                            title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Nguyễn Văn B</td>
                                    <td>b@gmail.com</td>
                                    <td>Thường</td>
                                    <td>
                                        <a name="" id="" class="btn btn-primary btn-sm" href="#" role="button"
                                            title="Edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a name="" id="" class="btn btn-danger btn-sm" href="#" role="button"
                                            title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            {{!-- /Độc giả --}}
        </div>
    </div>
</div>